@import "../../../variables.module";
@import "../../../mixins";

.productContainer {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.productContainer>div {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    @media only screen and (max-width:450px) {
        justify-content: center;
        align-items: center;
    }
}

.product {
    @include centerDev();
    flex-direction: column;
    margin: 5px 5px;
    width: 250px;
    background-color: $SecondarColor ;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    
    @media only screen and (max-width:450px) {
        justify-content: center;
        align-items: center;
    }

}

.product>img {
    width: 180px;
    height: 200px;
    border-radius: 10px;
}

.product>p {
    color: $whiteFont;
    height: 100px;
    line-height: 1.5rem;
    font-size: 15px;
}

.loading {
    @include centerDev();
    height: 500px;
}

.backButton {
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 2%;
    color: $whiteFont;
    gap: 5px;
    font-size: 20px;
    cursor: pointer;
    @media only screen and (max-width:450px) {
        top: 18%;
        left: 3%;
    }
}

.productContainer>div {
    margin-top: 50px;
}