@import "../variables.module";
@import "../mixins";

.dashboardContainer {
    @include centerDev();
    align-items: start !important;
    width: 66%;
    height: 100%;
    gap: 10px;

    @media only screen and (max-width:450px) {
        width: 100%;
        flex-direction: column;
    }

    @media only screen and (max-width:750px) {
        width: 100% ;
    }

    .MobileButtonContainer {
        display: none;
        width: 100%;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width:450px) {
            display: flex;
        }

        p {
            @include centerDev();
            width: 100%;
            text-align: center;
            color: $whiteFont;
            font-size: 20px;
        }
    }

    .mobileMenuButton {
        position: absolute;
        left: 3%;
        display: none;
        width: 40px;
        height: 40px;
        color: white;
        margin: 10px;
        cursor: pointer;
        @media only screen and (max-width:450px) {
            display: block;
            
        }
    }

    .phone-menu {
        width: 50%;
        display: none;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        position: absolute;
        background-color: $PrimaryColor;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
        padding: 10px;
        left: -100%;
        top: 0;
        height: 100vh;
        transition: left 500ms ease-out;
        z-index: 1;

        @media only screen and (max-width:450px) {
            display: flex;
        }
    }

    .menu {
        padding: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        width: 20%;
        height: 100%;
        border-radius: 10px;
        background-color: $PrimaryColor;
        box-shadow: 0 0 10px #1f242475;

        @media screen and (max-width: 450px) {
            display: none;
        }
    }

    .content {
        @include centerDev();
        width: 70%;
        height: 100%;
        background-color: $PrimaryColor;
        box-shadow: 0 0 10px #1f242475;

        @media only screen and (max-width:450px) {
            width: 100%;
            box-shadow: none;
        }
    }
}

@media (max-width: 400px) {
    .menu {
        display: none;
    }
}

.mainCotainer {
    @include centerDev();
    width: 100%;
    padding: 10px 0;
}

li {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    margin: 10px 0;
    padding: 0 0 0 10px;
    background-color: $PrimaryColor;
    list-style-type: none;
    list-style: none;
    width: 100%;
    border-radius: 10px;
    color: white;
}

li:hover {
    background-color: $SecondarColor;
    transition: all 500ms;
}

ul {
    @include centerDev();
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.active {
    background-color: $SecondarColor ;
}

.profile>svg {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: 5px;

}

.profile {
    cursor: default !important;
}

.closeButton {
    width: 100%;
    float: left;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: transparent !important;
    color: $whiteFont;

    :hover {
        background-color: transparent !important;
    }

    svg {
        width: 30px;
        height: 30px;
    }
}

.open {
    left: 0 !important;
    transition: left 500ms;
}